.font {
    font-size: 10pt;
}

.list-group {
    height: 200px;
    overflow-y: scroll;
}

.list-group-item {
    padding-top: 4px;
    padding-bottom: 4px;
    display: block;
    height: 30px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


#http_request
, #http_response
{
    min-height: 150px;
    max-height: 500px;
    overflow-y: scroll;
    overflow-wrap: break-word;
}

.table tbody {
    height: 200px;
    /*width: 524px;*/
    display: block;
    overflow-y: scroll;
}
.table tbody td {
    min-width: 200px;
}
.table tbody td.alt {
    width: 50%;
}

.table tbody td a {
    display: inline-block;
    overflow: hidden;
    width: 600px;
    max-width: 80%;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.def_message {
    color: #cccccc;
    font-style: italic;
}
